body{
    background-color: pink;
}
ul{
    columns: 4;
    font-size: 20px;
}
li{
    list-style: none;
}
img{
    border:red solid 5px;
    max-width: 200px;

}
h1{
    text-align: center;
    color:darkblue;
    font-size: 50px;
}
h2{
    text-align: center;
    color:darkblue;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: green;
    font-size: 20px;
}
p{
    font-size: 20px;
    color: yellow;
}